<div class="container">
  <h1>Create a New ICD Record</h1>

  <%= render 'shared/errors' %>

  <%= form_with scope: :icd, url: icds_path, local: true do |f| %>
    <p>
      <%= f.label :code %> <br>
      <%= f.text_field :code %>
    </p>

    <p>
      <%= f.label :description %> <br>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <%= link_to 'Return to ICD Listing', icds_path %>
</div>