<h1>ICD Code Search</h1>

<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :item, "Type keywords to search an appropriate ICD Code" %><br>
  <%= form.text_field :item %>
  <p> <%= form.submit "Search Database" %></p>
<% end %>

<p><%= link_to 'Return to Article Listing', icds_path %></p>